.Rproj.user
.Rhistory
.RData
.Ruserdata
Admin/
Data/
Drafts/
Guidance material/
Guidance material/
LAMs/
Review/
Writing/
Results/Data/
SPM/
SPM/FOD/
TO DO OMG.docx
.csync_journal.db
.csync_journal.db-shm
.csync_journal.db-wal
.owncloudsync.log
